.ui__wrapper__side-bar
  .ui__wrapper__side-bar__contents
    %ul
      %li
        = link_to users_path do
          .ui__wrapper__side-bar__contents__content
            マイページ >
      %li
        = link_to cards_path do
          .ui__wrapper__side-bar__contents__content
            お支払い情報の確認、削除 >
      %li
        = link_to new_card_path do
          .ui__wrapper__side-bar__contents__content
            お支払い情報の登録 >
      %li
        = link_to logout_index_path do
          .ui__wrapper__side-bar__contents__content
            ログアウト >
      %li
        = link_to users_path do
          .ui__wrapper__side-bar__contents__content
            出品した商品 >
